@use "base";

@mixin button($bgColor) {
    background-color: $bgColor;
    color: base.$text-menu;
    width: 5em;
    padding: 0.5em;
    margin: auto auto;
    border-radius: 5px;

    @if $bgColor == base.$darkmode-color-secondary {
        border-radius: 50px;
    } @else  {
        border-radius: 0;
    }
}
